recursive-include src/spaces/overlay *.png
include data/org.anatase.spaces.policy
include data/spaces@.service
include data/systemd/user/spaces@.service
recursive-include selinux *.fc *.if *.te
recursive-include data/pam *
recursive-include data/keys *
recursive-include data/repos *
recursive-include data/portal *
recursive-include data/applications *.desktop
recursive-include data/icons *.png
recursive-include native Makefile *.c *.h *.py
recursive-include tests *.py
