[Unit]
Description=Start Spaces environment %I for the current user
ConditionPathExists=/var/lib/spaces/%I/info.json

[Service]
Type=oneshot
ExecStart=/usr/bin/spaces start %I

[Install]
WantedBy=default.target
