[Desktop Entry]
Type=Application
Name=Space (Arch)
Comment=Access and install Arch Linux applications
TryExec=/usr/bin/spaces
Exec=/usr/bin/spaces enter arch
Icon=spaces-arch
Terminal=true
Categories=Development;
