[Unit]
Description=Spaces host system services
Requires=dbus.service
After=dbus.service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/run/spaces-host/bin/spaces-system-broker --relay /run/spaces-host/system/bus.sock
Restart=always
RestartSec=1
User=root
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
