[Unit]
Description=Spaces environment %I

[Service]
Type=notify
NotifyAccess=all
Delegate=yes
SyslogIdentifier=spaces-%I
ExecStart=/usr/bin/spaces.priv launch %I

[Install]
WantedBy=multi-user.target
