[Unit]
Description=Spaces environment %I

[Service]
Type=notify
NotifyAccess=all
Delegate=yes
KillMode=mixed
SyslogIdentifier=spaces-%I
DevicePolicy=closed
DeviceAllow=/dev/net/tun rwm
DeviceAllow=char-pts rw
DeviceAllow=/dev/fuse rwm
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart=/usr/bin/spaces.priv launch %I

[Install]
WantedBy=multi-user.target
