[Unit]
Description=Spaces desktop integration bridge
StartLimitIntervalSec=0

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.spaces
ExecStart=/run/spaces-host/bin/spaces-portal
Restart=always
RestartSec=1
