[Unit]
Description=Spaces graphical session
Requires=graphical-session.target
Wants=spaces-portal.service
BindsTo=graphical-session.target
Before=graphical-session.target
